h5{
    color: #22bae9;
}


*{



    background-color: black;
    color:white;
}

.add{
    background-color: #3aa7da;
    color: rgb(235, 230, 230);
    padding: 3px;
    margin-left: 15%;
    cursor: pointer;  
}

td img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

td {
    text-align: center;
    justify-content: center;
}
form{
    margin-bottom: 10px;
}