/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*  
* html,body{
    font-family: 'Pacifico', sans-serif !important;
       top:0;
    left:0;
}  */

a{
    text-decoration: none;
}